aiohttp==3.9.1
aiosignal==1.3.1
annotated-types==0.6.0
antlr4-python3-runtime==4.9.3
asteroid-filterbanks==0.4.0
async-timeout==4.0.3
attrs==23.1.0
audioread==3.0.1
av==10.0.0
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
ci-sdr==0.0.2
click==8.1.7
coloredlogs==15.0.1
ConfigArgParse==1.7
ctc-segmentation==1.7.4
ctranslate2==3.22.0
Cython==3.0.6
decorator==5.1.1
discord.py==2.3.2
Distance==0.1.3
editdistance==0.6.2
einops==0.7.0
espnet==202308
espnet-tts-frontend==0.0.3
fast-bss-eval==0.1.3
faster-whisper==0.8.0
filelock==3.13.1
flatbuffers==23.5.26
frozenlist==1.4.0
fsspec==2023.12.0
g2p-en==2.1.0
grpcio==1.58.0
grpcio-reflection==1.58.0
h5py==3.10.0
huggingface-hub==0.19.4
humanfriendly==10.0
hydra-core==1.3.2
idna==3.6
importlib-metadata==4.13.0
importlib-resources==6.1.1
inflect==7.0.0
jaconv==0.3.4
jamo==0.4.1
Jinja2==3.1.2
joblib==1.3.2
kaldiio==2.18.0
librosa==0.9.2
llvmlite==0.41.1
MarkupSafe==2.1.3
mpmath==1.3.0
multidict==6.0.4
networkx==3.0
nltk==3.8.1
numba==0.58.1
numpy==1.23.5
omegaconf==2.3.0
onnxruntime==1.16.3
openjtalk==0.3.0.dev2
opt-einsum==3.3.0
packaging==23.2
Pillow==9.3.0
plac==1.4.1
platformdirs==4.0.0
pooch==1.8.0
protobuf==4.24.4
pycparser==2.21
pydantic==2.5.2
pydantic_core==2.14.5
pyee==11.0.0
pyopenjtalk==0.3.2
pypinyin==0.44.0
pytorch-wpe==0.0.1
pyworld==0.3.4
PyYAML==6.0.1
regex==2023.10.3
requests==2.31.0
resampy==0.4.2
scikit-learn==1.3.2
scipy==1.10.1
sentencepiece==0.1.97
six==1.16.0
soundfile==0.12.1
sympy==1.12
threadpoolctl==3.2.0
tokenizers==0.13.3
torch==2.1.1+cu118
torch-complex==0.4.3
torchaudio==2.1.1+cu118
torchvision==0.16.1+cu118
tqdm==4.66.1
triton==2.1.0
typeguard==2.13.3
typing_extensions==4.8.0
Unidecode==1.3.7
unidic==1.1.0
urllib3==2.1.0
wasabi==0.10.1
webrtcvad==2.0.10
yarl==1.9.3
zipp==3.17.0
